.form__fieldset {
  margin: calc(76px - 22 * ((100vw - 320px) / 960)) 0
    calc(25px + 11.5 * ((100vw - 320px) / 960)) 0;
  padding: 0;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: calc(238px + 120 * ((100vw - 320px) / 960));
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.95em;
  transition: background-color 0.2s linear;
}

.form__input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.form__input:invalid {
  border-bottom: 1px solid red;
}

.form__input:last-of-type {
  margin-top: 30px;
}

.form__input-error {
  width: calc(238px + 120 * ((100vw - 320px) / 960));
  text-align: left;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: red;
  align-self: flex-start;
  margin-left: 30px;
}

.form__button {
  background-color: white;
  margin: 0;
  padding: 0;
  border: none;
  line-height: 0;
}

.form__save {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  width: calc(238px + 120 * ((100vw - 320px) / 960));
  height: calc(46px + 4 * ((100vw - 320px) / 960));
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: calc(46px + 2 * ((100vw - 320px) / 960));
  transition: opacity 0.2s linear;
  background-image: url(../images/save-button.svg);
}

.form__save_disabled {
  background-image: url(../images/save-button_disabled.svg);
}

.form__save:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__save_disabled:hover {
  cursor: default;
}
